.selfMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 10px;
}

.msg p {
    color: #000;
    margin: 5px 10px;
    padding: 10px 10px;
    background-color: #fff;
    
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    font-size: 16px;
    max-width: 650px;

    text-align: justify;
    line-height: 24px;

}

.msg p span {
    background-color: rgb(95, 1, 1);
    color: #fff;
    font-weight: bold;
    margin: 2px 5px;
    padding: 0px 5px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.msg img {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 5px;
    object-fit: cover;
}

.msg {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.msgTime p {
    margin: 0 60px 0 0;
    font-style: italic;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.781);
}

.msgTime {
    margin: -5px 0 0 0;
}

@media only screen and (max-width: 930px) {
    .msg p {
        max-width: 550px;
    }
}

@media only screen and (max-width: 400px) {
    .msg p {
        max-width: 370px;
    }
}
